MONGODB_URI=mongodb://localhost:27017/displaynetworksdev
TOKEN_SECRET=your_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
SEND_EMAIL_HOST=smtp.example.com
SEND_EMAIL_PORT=465
SEND_EMAIL_NAME="Display Networks"
SEND_EMAIL_ADDRESS=info@example.com
SEND_EMAIL_PASSWORD=your_email_password_here

