<div class="modal fade" tabindex="-1" [id]="modalId">
    <div class="modal-dialog modal-success">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <span class="checkmark">
                    <svg class="svg-checkmark" width="38px" height="38px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"/>
                    </svg></span>
                </div>
                <h4 class="modal-title w-100">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
  </div>