[data-bs-theme="dark"] .modal-content {
    background-color: #111 !important;
  }
  
  .app-header {
    border-bottom: 0;
  }
  
  .modal-confirm {
    color: #636363;
    width: 380px;
    border: 1px solid #444;
    margin: 14vh auto;
  }
  
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
  }
  
  .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
  }
  
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 20px 0 -10px;
  }
  
  
  .modal-confirm .modal-body {
    color: var(--bs-heading-color);
  }
  
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px 25px;
  }
  
  .modal-confirm .modal-footer a {
    color: #999;
  }
  
  .modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .modal-confirm .question-mark {
  font-size: 46px;
  color: #f15e5e;
  font-weight: bold;
  font-family: Arial, sans-serif;
  }
  
  
  
  .modal-confirm .btn,
  .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    font-size: 15px;
  }
  
  .modal-confirm .btn-secondary {
    background: #6e7881;
  }
  
  .modal-confirm .btn-secondary:hover,
  .modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
  }
  
  .modal-confirm .btn-danger {
    background: rgb(221, 107, 85);
  }
  
  .modal-confirm .btn-danger:hover,
  .modal-confirm .btn-danger:focus {
    background: #f15e5e;
  }
  
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
  
  #confirmModal {
  display: none;
  
  }
  